<div class="slider-container">
    <div class="left-slide">
        <div style="background-color: #13293d">
            <h1>Enjoy your time with your best friend !</h1>
            <!-- <p>with PetFinder</p> -->
        </div>
        <div style="background-color: #13293d">
            <h1>Find the best products on our shop!</h1>
            <!-- <p>Shinning the clouds</p> -->
        </div>
        <div style="background-color: #13293d">
            <h1>Sooo Cute!</h1>
            <!-- <p>in the wilderness</p> -->
        </div>
        <div style="background-color: #13293d">
            <h1>Find the best Vet for your Pet!</h1>
            <!-- <p>in the sunset</p> -->
        </div>
    </div>
    <div class="right-slide">
        <div style="background-image: url('https://cdn.pixabay.com/photo/2018/01/09/11/04/dog-3071334_960_720.jpg');">
        </div>
        <div
            style="background-image: url('https://cdn.pixabay.com/photo/2016/02/26/16/32/bulldog-1224267_960_720.jpg');">
        </div>
        <div style="background-image: url('https://cdn.pixabay.com/photo/2016/11/26/23/45/dog-1861839_960_720.jpg');">
        </div>
        <div
            style="background-image: url('https://cdn.pixabay.com/photo/2017/12/27/14/02/friends-3042751_960_720.jpg');">
        </div>
    </div>
    <div class="action-buttons">
        <button class="down-button">
            <i class="fas fa-arrow-down"></i>
        </button>
        <button class="up-button">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
</div>